ul.nav.navbar-nav
  | {% for Category in Categories %}
  | {% set hasChild = (Category.children|length > 0) %}
  li(role='presentation' class!='{{ hasChild ? \'dropdown\' }}')
    a(class!='{{ hasChild ? \'dropdown-toggle\' }}' data-toggle!='{{ hasChild ? \'dropdown\' }}' href='{{ url(\'product_list\') }}?category_id={{ Category.id }}')
      | {{ Category.name }}
      |  
      span(class!='{{ hasChild ? \'caret\' }}')
    | {% if hasChild %}
    ul.dropdown-menu
      | {% for ChildCategory in Category.children %}
      li
        a(href='{{ url(\'product_list\') }}?category_id={{ ChildCategory.id }}') {{ ChildCategory.name }}
      | {% endfor %}
    | {% endif %}
  | {% endfor %}
