p.text-center
  a(href="{{ url('help_about') }}") 当サイトについて
  |  | 
  a(href="{{ url('help_privacy') }}") プライバシーポリシー
  |  | 
  a(href="{{ url('help_tradelaw') }}") 特定商取引法に関する法律について
  |  | 
  a(href="{{ url('contact') }}") お問い合わせ

p.text-center
  small
    | copyright (c) {{ BaseInfo.shop_name }} all rights reserved.
