.row
  - var index = 0
  while index < 12
    .col-sm-2.col-xs-4
      a.thumbnail(href="{{ url('product_detail', {id : 2}) }}") 
        img(src="{{ app.config.front_urlpath }}/img/top/img10.jpg" alt="")
    - index++

